kaggle==2.0.0
pandas==2.3.3
scikit-learn==1.8.0
scipy==1.17.1
matplotlib==3.10.8
seaborn==0.13.2
sentence-transformers==5.3.0
torch==2.11.0
transformers==5.5.0
datasets==4.8.4
python-dotenv==1.2.2
python-pptx==1.0.2
nbformat==5.10.4
nbclient==0.10.4
wordcloud==1.9.6
tabulate==0.10.0
tqdm==4.67.3
jsonlines==4.0.0
openai==2.30.0
spacy==3.8.14
numpy==2.4.2
faiss-cpu